@model List<e_commerceTask.Models.Product>


@{
    Layout = "_Layout - Copy";
}
<div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
    @foreach (var product in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@product.Image" class="card-img-top" alt="Product Image" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <h5 class="card-title">@product.Price</h5>
                <div style="display: flex; justify-content: space-between;">
                    <a class="btn btn-info" asp-action="DetailsProduct" asp-controller="Admins" asp-route-id="@product.Id">View</a>
                    <a class="btn btn-warning" asp-action="UpdateProduct" asp-controller="Admins" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Admins" asp-route-id="@product.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

<a href="~/Admins/CreateProduct" class="btn btn-success mt-3">Add New Product</a>
